<%- include header.ejs %>
	<div class="container">
		<div class="jumbotron">
			  <h1>Email Successfully created!</h1>
			  <p><%= firstName %></p>
				<p><%= lastName %></p>
				<p><%= newEmail %></p>
		</div>
	</div>
<%- include footer.ejs %>
