<%- include header.ejs %>
	<div class="container">
<<<<<<< HEAD
		<div class="jumbotron">
			  <h1>Email Successfully created!</h1>
			  <p><%= firstName %></p>
				<p><%= lastName %></p>
				<p><%= newEmail %></p>
		</div>
=======
		<h1>Success</h1>
>>>>>>> 46360362a54e63661bbbfd664d32d6c3a9e7f371
	</div>
<%- include footer.ejs %>
